services:
  db:
    image: postgres:15
    container_name: taxi_db_server

    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pipeline:
    build: .
    container_name: taxi_pipeline_runner
    stdin_open: true
    tty: true
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - /mnt/c/Datasetw1:/app_week1/data

volumes:
  postgres_data:


